.dashboard-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #0E2503;
    z-index: 70;
    padding: .5rem 5rem;
    &__content{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        a.footer__links {
            width: 3rem;
            display: inline-block;
        }
    }
}