//variables
$sidebarGreen: #184303;
$mainContentGreen: #2F9637;
$activeGreen: #0E2503;


.dashboard-side-bar {
    height: 100%;
    width: 100%;
    background-color: $sidebarGreen;
    position: fixed;
    padding-top: 11rem;
    z-index: 50;
    &__nav {
        list-style-type: none;

        li {
            padding: 1.5rem 0;
            border-left: 5px solid transparent;
        }
        li.active {
            background-color: $activeGreen;
            border-left: 5px solid $mainContentGreen;
        }
        li:hover{
            background-color: lighten($activeGreen, 10%);
            border-left: 5px solid $mainContentGreen;
        }
        
        .nav-link{
            font-family: $font-family-main;
            font-size: 1.5rem;
            color: $color-white;
            padding: 0 5rem;

            &__dashboard-icon {
                width: 2.1rem;
                margin-right: 2rem;
            }
        }

    }
}

@media screen and (min-width: 800px ) {
    .dashboard-side-bar {
        max-width: 250px;
        &__nav {
            .nav-link{
                padding: 0 2rem;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .dashboard-side-bar {
        max-width: 50px;
        &__nav {
            .nav-link{
                padding: 0 1rem;
                &__text {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .dashboard-side-bar {
        max-width: 100%;
        &__nav {
            .nav-link{
                padding: 0 5rem;
                &__text {
                    display: inline-block;
                }
            }
        }
    }

}