.searchbar__form {
    margin-bottom: 5rem;
    .searchbar__input{
        font-size: 1.6rem;
        padding: 1rem .8rem;
        flex-grow: 7;
    }
    .searchbar__button-box{
        flex-grow: 1;
    }
    .searchbar__button {
        padding: 3.75px 50px;
        font-size: 1.6rem;
    }
}