.sponsors-list__content{
    @include contentScroll-x;

    .sponsors-list__heading{
        font-size: 3rem;
        text-transform: capitalize;
    }
    .sponsor-confirm{
        @include buttonTextSizeDefault;
    }

    ul.nav.nav-tabs{
        .sponsor-via-vestbank-tab{
            border-right: 1px solid rgba($color-black, .2);

        }
        // .nav-link.active.sponsor-via-vestbank-link{
        // }
        // .sponsor-via-vestbank-link{
        //     color: darken($color-black, 5%);

        // }
        .sponsor-now-tab{
            background-color: rgba($color-primary-deep, .3);

        }
        .sponsor-now-tab:not(:last-child){
            border-right: 1px solid rgba($color-black, .2);
        }
        .nav-link.active.sponsor-now-tab{
            background-color: rgba($color-primary-deep, .6);
        }
    }
}
