
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// CUSTOM VARIABLES
$color-green-plant-dark:#27402E;

$color-black-light:#0F180A;
$color-black: #000;
$color-black-fade: #4e3d3d;


$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-grey-soft: #eee;
$color-grey-dark-3: #333;



$color-secondary-light: #F2D86A;
$color-secondary-dark: #ffb900;
$color-red-chick:#7B343A;

$color-tertiary-light:#2998ff;
$color-tertiary-dark: #5643fa;
$color-tertiary-deep: #09033a;

$color-white: #ffffff;

$color-brown-dark:#AC321F; /* alt form box color */
$color-brown-light:#CE7E49; /* alt form box color */
//UNANMED COLORS
//rgb(128, 165, 128) - terms link(hover)
// rgb(111, 207, 114) - alt form box color
// rgb(100, 203, 118)) - alt form box color
// rgba(195,200,165,0.1)

//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;

//font 
$default-font-size: 1.6rem;
