.about-wrap {
    background-color: $color-white;
    .about-jumbotron{
        background-image: url('../../../public/img/about-header.png');
        height: 44.4rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 4.8rem;
    }

    .main-content-area{
        .about-heading{
            font-family: $font-family-main;
            font-weight: 500;
            font-size: 3.2rem;
            line-height: 39px;
            color: #36A93F;
            margin-bottom: 3.1rem;
        }
        .about-text{
            font-family: $font-family-main;
            font-size: 1.6rem;
            line-height: 163.8%;
            color: #3C4049;
        }
        .about-intro{
            &__content{
                margin-bottom: 5rem;
            }
            &__heading{}
        }
        .about-icon-wrap{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .about-values{
            margin-bottom: 4.8rem;
            &__heading{
                font-family: $font-family-main;
                font-weight: 500;
                font-size: 2.2rem;
                margin-bottom: 1.5rem;
                .heading-span{
                    margin-right: 3.7rem;
                }
            }
            .about-values__content{
                margin-bottom: 4.2rem;
            }
        }
        .about-mission{
            margin-bottom: 9rem;
        }
        .about-counting {
            background-color: #0E2503;
            padding: 7.6rem 0;
            &__heading{
                color: $color-white;
                font-family: $font-family-main;
                font-weight: 500;
                font-size: 3.6rem;
                line-height: 44px;
                margin-bottom: 5rem;
                text-align: center;

            }

            &__icon{
                width: 19.8rem;
                margin-bottom: 3rem;
            }
        }
        .about-partners{
            background-color: #EAECEF;
            padding: 8.3rem 0;
            &__heading{
                font-family: $font-family-main;
                font-weight: 500;
                font-size: 3.6rem;
                line-height: 163.8%;
                margin-bottom: 6rem;
                text-align: center;
            }
            &__image{
                width: 21.7rem;
                margin-bottom: 5rem;
            }
        }
    }
}

/*
    STYLING FOR LARGER SCREENS
*/

@media screen and (min-width:768px) {
    .about-wrap .main-content-area .about-icon-wrap {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .about-wrap .main-content-area .about-counting__heading-wrap .about-counting__heading,
    .about-wrap .main-content-area .about-partners__heading-wrap .about-partners__heading {
        text-align: left;
    }
    .about-wrap .main-content-area .about-counting__icon,
    .about-wrap .main-content-area .about-partners__image {
        margin-bottom: 0;
    }
    .about-wrap .main-content-area .about-counting__icon:not(:last-child) {
        margin-right: 1.77rem;
    }
    .about-wrap .main-content-area .about-partners__image:not(:last-child) {
        margin-right: 8.9rem;
    }
}