// GENERAL STYLING (LOGIN AND REGISTER PAGE)
.section-form{
    background-image:linear-gradient(to right bottom, 
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.8)), 
    url('../../../public/img/farm-3.jpg');
    background-size: cover;
    background-position: top;
    padding: 10rem 1.5rem;

    .form-box{
        box-shadow: 0rem 0.5rem 2rem #383d41;
        background-image: radial-gradient(rgba(255, 185, 0, 0.8), rgba(242, 216, 106, 0.9));
        border-radius: 5px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        margin: auto;
        .form-heading__icon{
            display: inline-block;
            font-size: 4rem;
            color: $color-grey-soft;
            border: 2px solid $color-grey-soft;
            width: 7rem;
            height: 7rem;
            border-radius: 4rem;
            text-align: center;
            padding: 10px;
        }
        .form-heading{
            color: $color-white;
            font-size: 200%;
        }
        .form-group__content{
            .form__input {font-size: 1.2rem;}
            
            // CUSTOM CHECKBOX STYLING
            #form__input--checkbox {
                display: none;
            }
            // CHECKBOX APPEARANCE
            .form__input--label {
                position: relative;

                span.label-span {
                    display: inline-flex;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 1rem;
                    font-size: 1.2rem;
                    background-color: $color-white;
                    border: 1px solid $color-grey-soft;
                    transition: all .2s;

            // CHECKBOX INSIDE STYLING
                    .label-span__icon{
                        margin: auto;
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .5s .1s;
                    } 
            //END OF CHECKBOX INSIDE STYLING
                }

                .label-text{
                    position: absolute;
                    top: 1rem;
                    left: 3rem;
                    width: 20rem;
                    color: $color-white;
                }
            } //END OF CHECKBOX APPEARANCE

            // CHECKBOX TOGGLE FUNCTIONALITY (COLOR)
            #form__input--checkbox:checked + .form__input--label span.label-span {
                background-color: $color-primary;
                }
            // CHECKBOX TOGGLE FUNCTIONALITY (ICON)
            #form__input--checkbox:checked + .form__input--label > span.label-span .label-span__icon {
                color: $color-black;
                display: inline-block;
                visibility: visible;
                opacity: 1;
            } //END OF TOGGLE FUNCTIONALITY
        
        }
        .form-group {
            .form__btn {
                background-color: $color-primary-dark;
                color: $color-white;
                font-size: 1.4rem;
                border: none;
            }
            .form__text{
                color: $color-white;
            }
            .form__input--link {
                text-decoration: none;
                color:  $color-grey-dark;
            }

            .form__input--link:link,
            .form__input--link:visited {
                transition: all .5s;
            }

            .form__input--link:hover {
                transform: scale(1.15);
                color:  rgb(128, 165, 128);
            }


        }
    }
}

// REGISTER PAGE SPECIFIC STYLES
.section-form{
 .sectionWrap{padding: 0 .5rem;
    .form-box{
        .register {
            .form__input--labelRegister {
                width: 100%;
                height: 3rem;
                display: flex;

                span.label-spanRegister {
                    display: inline-flex;
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 1rem;
                    font-size: 1.2rem;
                    background-color: $color-white;
                    border: 1px solid $color-grey-soft;
                    transition: all .2s;

            // CHECKBOX INSIDE STYLING
                    .label-span__icon{
                        font-size: .9rem;
                        margin: auto;
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .5s .1s;
                    } 
            //END OF CHECKBOX INSIDE STYLING
                }

                .label-textRegister{
                    margin: .5rem 0 0 .5rem;
                    font-size: 1.4rem;
                    color: $color-white;
                }
            }
            // CHECKBOX TOGGLE FUNCTIONALITY (COLOR)
                    #form__input--checkbox:checked + .form__input--labelRegister span.label-spanRegister {
                    background-color: $color-primary;
                    }
            // CHECKBOX TOGGLE FUNCTIONALITY (ICON)
                #form__input--checkbox:checked + .form__input--labelRegister > span.label-spanRegister > .label-span__icon {
                    color: $color-black;
                    display: inline-block;
                    visibility: visible;
                    opacity: 1;
                } //END OF TOGGLE FUNCTIONALITY
        }
    }
 }
}

//PASSWORD RESET PAGE STYLES
.reset-card {
    background-image: radial-gradient(rgba(255, 185, 0, 0.8), rgba(242, 216, 106, 0.9));
    margin: 12.5rem 2rem;

    &__btn {
        background-color: $color-primary-dark;
        color: $color-white;
        font-size: 1.25rem;
    }
    &__btn:hover{
        background-color: rgba($color-primary-dark, .7);
        color: $color-white;
    }
}