// auth views color variables
$button-green: #154219;
$text-dark: #011633;
$text-light: rgba($color-black, .4);



// GENERAL STYLING (LOGIN AND REGISTER PAGE)
.section-form{
    // background-image:linear-gradient(to right bottom, 
    // rgba(0, 0, 0, 0.6), 
    // rgba(0, 0, 0, 0.8)), 
    // url('../../../public/img/farm-3.jpg');
    // background-size: cover;
    // background-position: top;
    background-color: $color-white;
    padding: 10rem 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-box{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        max-width: 50.4rem;
        margin: auto;
        
        .form-heading{
            font-family: $font-family-main;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            color: $text-dark;
            margin-bottom: 6rem;
        }
        .form-group__content{
            .password-request--label{
                display: block;
                text-align: right;

                .form__input--link {
                    color: rgba(0, 0, 0 , .6);
                }
                .form__input--link:hover {
                    color: darken(#000, 20% );
                }
            }
            .rememberMeForm-group{
                width: 100%;
                height: 2.5rem;
            }
            .form__input {
                font-size: 1.7rem;
                height: 5rem;
                font-family: $font-family-main;
            }
            
            #form__input--checkbox {
                display: none;
            }

            .form__input--label {
                position: relative;
                font-family: $font-family-main;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-transform: capitalize;


                span.label-span {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 1rem;
                    font-size: 1.2rem;
                    background-color: $color-white;
                    border: 1px solid rgba($color-black, .4);
                    transition: all .3s;

            // CHECKBOX INSIDE STYLING
                    .label-span__icon{
                        margin: auto;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .2s .1s;
                    } 
            //END OF CHECKBOX INSIDE STYLING
                }

                .label-text{
                    position: absolute;
                    top: 1rem;
                    left: 3rem;
                    width: 20rem;
                    color: $text-dark;
                }
            }

            // CHECKBOX TOGGLE FUNCTIONALITY (COLOR)
            #form__input--checkbox:checked + .form__input--label span.label-span {
                background-color: $color-primary;
                }
            // CHECKBOX TOGGLE FUNCTIONALITY (ICON)
            #form__input--checkbox:checked + .form__input--label > span.label-span .label-span__icon {
                color: $color-black;
                display: inline-block;
                visibility: visible;
                opacity: 1;
            } //END OF TOGGLE FUNCTIONALITY
        
        }
        .form-group {
            .form__btn {
                font-family: $font-family-main;
                font-weight: bold;
                background-color: $button-green;
                color: $color-white;
                font-size: 1.6rem;
                border: none;
                border-radius: 5px;
                padding: 1.7rem 2.8rem;
            }
            .form__text{
                color: $text-dark;
                font-size: 13px;
                font-family: $font-family-main;
            }
            .form__input--link {
                text-decoration: none;
                color:  #2F43F5;
                font-size: 13px;
                font-family: $font-family-main;
            }

            #form__input--username{
                margin-bottom: 4.9rem;
            }

            .form__input--link:link,
            .form__input--link:visited {
                transition: all .5s;
            }

            .form__input--link:hover {
                transform: scale(1.15);
                color: darken(#2F43F5, 30%);
            }
        }
    }
}

// REGISTER PAGE SPECIFIC STYLES
.section-form{
 .sectionWrap{padding: 0 .5rem;
    .form__input--label span.required {
        color: $red;
        margin-left: .3rem;
    }
    .form-box{
        .register {
            .form__input--labelRegister {
                width: 95%;
                display: inline-block;
                position: relative;
                margin-left: 5%;

                span.label-spanRegister {
                    display: inline-flex;
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: .4rem;
                    font-size: 1.2rem;
                    background-color: #C4C4C4;
                    transition: all .2s;
                    vertical-align: middle;

            // CHECKBOX INSIDE STYLING
                    .label-span__icon{
                        font-size: .9rem;
                        margin: auto;
                        display: none;
                        visibility: hidden;
                        opacity: 0;
                        transition: all .5s .1s;
                    } 
            //END OF CHECKBOX INSIDE STYLING
                }

                .label-textRegister{
                    margin: 0 0 0 .5rem;
                    font-size: 1.2rem;
                    color: $text-dark;
                    font-family: $font-family-main;
                }
            }
            // CHECKBOX TOGGLE FUNCTIONALITY (COLOR)
                #form__input--checkbox:checked + .form__input--labelRegister span.label-spanRegister {
                    background-color: $color-primary;
                }
            // CHECKBOX TOGGLE FUNCTIONALITY (ICON)
                #form__input--checkbox:checked + .form__input--labelRegister > span.label-spanRegister > .label-span__icon {
                    color: $color-black;
                    display: inline-block;
                    visibility: visible;
                    opacity: 1;
                } 
            //END OF TOGGLE FUNCTIONALITY
            .loginText {
                display: inline-block;
                width: 95%;
                margin-left: 5%;
            }
        }
    }
 }
}

//PASSWORD RESET PAGE STYLES
.reset-card {
    font-family: $font-family-main;
    margin: auto;
    max-width: 46.4rem;
    border: none;
    .card-header {
        background-color: transparent;
        border-bottom: none;
        margin-bottom: 2rem;
        .form-heading{
            font-weight: 500;
            font-size: 28px;
            font-family: montserrat;
            line-height: 34px;
            text-transform: uppercase;
        }
    }
    .form__input {
        font-size: 1.7rem;
        height: 4rem;
    }
    .form__input--label {
        font-family: $font-family-main;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

       
    }

    &__btn {
        background-color: $button-green;
        color: $color-white;
        font-size: 1.4rem !important;
        height: 4rem;
        display: inline-block;
        border-radius: 5px;
        padding: .5rem 1.3rem;
    }
    &__btn:hover{
        background-color: rgba($button-green, .9);
        color: $color-white;
    }
}
.password-reset__card {
    font-family: $font-family-main;
    margin: auto;
    &-header {
        text-align: center;
    }
    .form__input {
        font-size: 1.7rem;
        height: 4rem;
    }
}


@media screen and (min-width:768px){
    .form-group-content{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        height: 100%;

        .form__text{
            margin-bottom: 0;

            .form__input--link{
                margin-left: 1rem;
            }
        }
    }
}
@media screen and (min-width:575px) {
    .section-form .sectionWrap {
        .register{
            .loginText {
                padding-left: 23px;
            }
        }
    }
}