.balance {
    text-align: end;
    margin: .5rem 0;
    .balance__text {
        font-size: 1.8rem;
        margin: 0;
        text-decoration: none;
        color:$color-grey-dark;
        outline: none;
    }
    &__dropdown{
        &--link:link,
        &--link:visited {
            padding: 1rem 2rem;
            font-size: 1.3rem;
        }

    }
    
}