.career-details-wrap{
    font-family: $font-family-main;
    background-color: $color-white;

    .career-details__asteric{
        color: #ff2d55;
        margin-right: 5px;
        font-weight: bold;
    }

    .form-group .career-details__asteric{
        margin-left: 5px;
    }
    .career-details__heading{
        font-family: $font-family-main;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 29px;
        color: $color-black;
        margin-bottom: 3rem;

        &--sub {
            font-family: $font-family-main;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 29px;
            color: $color-black;
            margin: 5rem 0 2rem;
        }
    }

    .career-details-jumbotron{
        padding: 5rem 0 2rem;
        background-color: #0E2503;
        margin-bottom: 10rem;
        .career-details__back-link {
            text-decoration: none;
            color: $color-white;
            margin-bottom: 2rem;
            display: inline-block;
            .left-arrow{
                width: 2.1rem;
            }
        }
        .career-details__heading--main{
            font-family: $font-family-main;
            font-weight: 600;
            font-size: 3.2rem;
            line-height: 24px;
            color: #FFFFFF;
            margin-bottom: 15px;
        }
        .career-details__heading--text{
            font-size: 1.4rem;
            line-height: 24px;
            color: #FFFFFF;
        }
    }

    .career-details__description{
        margin-bottom: 6.5rem;
    }
    .career-details__application{
        max-width: 800px;
        background-color: #EEF2F5;
        padding: 3.6rem 11.2rem;
        margin-bottom: 5.3rem;
        border-radius: 10px;

        .career-details__form-heading {
            font-family: $font-family-main;
            font-weight: 800;
            font-size: 1.8rem;
            line-height: 154.5%;
            color: $color-black;
            margin-bottom: 1.1rem;

            &-wrap{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 2.6rem;
            }
            &-block{
                display: inline-block;
                width: 14.9rem;
                height: 2.1rem;
                background-color:  #0077B5;
                border-radius: 5px;
            }
            &-block-description {
                margin-left: 5px;
               color: #939BA1;
               vertical-align: top;
            }
        }

        .career-details__form-heading-wrap + .horizontal-rule {
            margin-bottom: 2.3rem;
        }
    }
}


@media screen and (max-width:768px) {
    .career-details-wrap {
        div.career-details__application{
            padding: 3.6rem 3rem;
        }
    }
    
}