.input-wrap{
    .custom-file__btn{
        border: none;
        background-color: transparent;
        color: #1D86BD;
        font-family: $font-family-alt;
        font-size: 1.4rem;
    }
    .custom-file-info{
        font-family: $font-family-alt;
        font-size: 1.4rem;
    }
}