.dashboard__panel-wrap{
    .dashboard{
        &__panel {
            background-color: dodgerblue;
            padding: 0 3rem;
            display: flex;
            a[class^=dashboard__]{
                 padding: 1rem 1rem 1rem 1rem;
            }

        }
        &__brand {
            color: white;
            text-decoration: none;

        }
        &__profile {
            margin-left: auto;
            color: white;
            text-decoration: none;

        }
       

    }
   
}