.dashboard__pageWrap {
    background-color: $color-grey-light-1;
    min-height: 100vh;
    .section-dashboard{
        .dashboard__panel-wrap{
            .dashboard{
                &__panel {
                    background-color: dodgerblue;
                    padding: 0 3rem;
                    display: flex;

                }
                &__brand {
                    color: white;
                    text-decoration: none;
                }
                &__profile {
                    margin-left: auto;
                    color: white;
                    text-decoration: none;
                }

            }
        }

        .dashboard__navi-wrap {
            // padding: 8rem 0 8rem 3rem;
            // min-height: 100vh;

            .dashboard__navi{
                list-style-type: none;
                &--item{
                    padding: 0 2rem 0 3rem;

                }
                &--item:hover{
                    background-color: $color-grey-soft;
                }
                &--link:link,
                &--link:visited {
                    text-decoration: none;
                    display: block;
                    padding: 1rem 0;
                }

            }
        }
        .wrapper{
            // padding: 8rem 3rem 8rem 0;
        }
        .dashboard__content-wrap {
            .dashboard__content {
                border: 2px solid black;
                height: 20rem;
            }
        }

    }

}

@media screen and (max-width:650px) {
    .dashboard__navi-wrap {
        display: none;
    }
}