.dashboard__pageWrap {
    background-color: $color-grey-light-1;
    min-height: 100vh;
    width: 100%;

    .section-dashboard{
      
        .dashboard__content-wrap {
            .dashboard__content {
                border: 2px solid black;
                height: 20rem;
            }
        }

    }
}
