//variables
$errorBackground:#EAD6FE;
$errorGreenText: #279B37;
$errorBlueBtn: #009AFF;

.error-jumbotron{
    height: 26.7rem;
    background-image: url('../../../public/img/error-background-img.svg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.error-wrap {
    background: $errorBackground;
    padding: 5rem 2rem;
    .error-content {
        text-align: center;
        color: $errorGreenText;
        .error-heading{
            font-family: $font-family-main;
            font-weight: 500;
            font-size: 14.4rem;
            line-height: 176px;
            margin-bottom: 4rem;
        }
        .error-text{
            font-family: $font-family-main;
            font-size: 3.6rem;
            line-height: 44px;
        }
        .text-bold {
            font-weight: 700;
            margin-bottom: 2rem;
        }
        .text-small {
            font-size: 1.8rem;
            margin: 3.3rem 0 8.7rem;
        }

        .error-btn{
            display: inline-block;
            text-decoration: none;
            padding: 1.1rem 6.5rem;
            color: $color-white;
            background-color: $errorBlueBtn;
            margin-bottom: 5rem;
            border-radius: 3px;
        }
    }
}
