    .card-box {
        margin-bottom: 3rem;

        .farms__display {
            border-radius: .3rem;
            overflow: hidden;
            box-shadow: 0 1rem 1rem rgba($color-black, .3);
            text-align: center;

            


            .farms__image {
                width: 100%;
                height: auto;
            }
            .card__heading {
                text-transform: uppercase;
                margin: 2.5rem 0 2rem 0;
                padding: 0 1rem;
                font-size: 1.6rem;

            }
            // .card__text-box {

                .farms__btn {
                    margin-bottom: 2rem;
                    text-decoration: none;
                    font-size: 1.4rem;
                }

                .farms__text {
                    text-align: start;
                    padding: 0 2rem;
                    letter-spacing: 1.5px;
                    color: $color-grey-dark;
                     p:first-of-type {
                         margin-bottom: .5rem;

                    }
                    
                    &--status{
                        text-align: center;
                        display: inline-block;
                        padding: .6rem 5rem;
                        background-color: dodgerblue;
                        color: $color-white;
                        text-transform: uppercase;
                        font-weight: 300;
                        margin: 0;
                    }
                }
            // }
        }
    }