    .card-box {
        margin-bottom: 3rem;

        .farms__display {
            border-radius: .3rem;
            overflow: hidden;
            box-shadow: 0 1rem 1rem rgba($color-black, .3);
            text-align: center;

            


            .farms__image {
                width: 100%;
                height: auto;
            }
            .card__heading {
                text-transform: uppercase;
                margin: 2.5rem 0 2rem 0;
                padding: 0 1rem;
                font-size: 1.6rem;

            }
            // .card__text-box {

                .farms__btn {
                    margin-bottom: 2rem;
                    text-decoration: none;
                    font-size: 1.4rem;
                }

                .farms__text {
                    text-align: start;
                    padding: 0 2rem;
                    letter-spacing: 1.5px;
                    color: $color-grey-dark;
                     p:first-of-type {
                         margin-bottom: .5rem;

                    }
                    
                    &--status{
                        text-align: center;
                        display: inline-block;
                        padding: .6rem 5rem;
                        background-color: dodgerblue;
                        color: $color-white;
                        text-transform: uppercase;
                        font-weight: 300;
                        margin: 0;
                    }
                }
            // }
        }
    }

    
    .farmlist__card {
        display: flex;
        flex-direction: column;
        color: $color-white;
        margin-bottom: 10rem;

        .farmlist{
            &__status{
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                align-self: flex-end;
                padding: .5rem 5rem; 
                background-image: linear-gradient(to bottom, #758c1f 90%, rgba(117, 140, 31, 0));
                &--text{
                    margin-bottom: 0;
                    color: $color-white;
                    }
                    
            }
            &__card-body { 
                display: flex;
                flex-direction: column;
                &--image-wrap{ }
                &--text-wrap {
                    background-image: url('../../../public/img/farmcard-body.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                    overflow: hidden;
                    margin-bottom: 2rem;
                    padding: 1rem 2rem;
                    
                    .farmlist__returns{
                        font-weight: bolder;
                        font-size: 2rem;
                        color: $color-black;
                    }
                    .farmlist__text{
                        color: darken($color-white, 10%);
                    }
                    .farmlist__sub-text{
                        font-size: 1.2rem;
                    }

                }
            }
            &__sponsor {
                align-self: flex-end;

                &-btn{
                    border-radius: 3px;
                    border: solid 1px #ffffff;
                    background-color: #154219;
                    text-decoration: none;
                    color: $color-white;
                    padding: 1rem 2rem;

                    
                }
            }
        }
    }
   
       
