//footer color variables
$footer-text-dark: rgba(255, 255, 255, 0.7);
$footer-text-light: #fbfbfb;

//footer styles
.page-footer {
    background-color: #0e2503;
    padding: 8rem 0;
    .footer__segment{
        .footer__subscribe--text{
            font-family: Montserrat;
            font-size: 32px;
            color: $color-white;
        }
    }
    .footer-subscribe, 
    .footer-links {
        font-family: Montserrat;
        margin-bottom: 8rem;
    }
    .footer__segment .footer__form {
        margin-top: 2.2rem;
        .footer__input {
            min-height: 3.7rem;
            font-size: 1.4rem;
        }
        .btn.btn-outline-secondary {
            padding-top: 1rem;
            padding-bottom: 2.7rem;
            font-size: 1.4rem;
        }
    }
    .footer__item .footer__links{
        color: #FBFBFB;
        font-size: 1.4rem;
    }
    .footer__item--social .footer__links{
        display: inline-block;
    }
    
}

@media screen and (min-width:1120px){
    .footer__segment .footer__subscribe--text {
        padding-right: 2rem;
    }
}
@media screen and (min-width:993px) {
    .page-footer .footer__content {
        margin-right: 3rem;
    }
}

@media screen and (min-width:576px){
    .page-footer .footer__content {
        border-top: 1px solid $footer-text-dark;
        padding-top: 6rem;
        margin-right: 3rem;
    }
}
@media screen and (max-width:768px) {
    .page-footer {
        padding: 5rem 1rem !important;

        .footer-subscribe{
            .footer__segment .footer__subscribe--text {
                font-size: 30px;
                color: #ffffff;
                line-height: 1.4;
                margin-bottom: 2rem;
            }
            .col-12.col-sm-12.col-md-6:nth-of-type(2) {
                .footer__segment .footer__form .form-row .col-md-8.col-12{
                    .footer__input{
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                .footer__segment .footer__form .form-row .col-md-4.col-12 {
                    .subscribe-btn{
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
            }
        }
    }
}