.helpline-wrap {
    padding: 1.5rem 4rem;
    background: rgba(110, 158, 61, 0.7);
    margin: 0;
    .helpline-text{
        font-family: Montserrat;
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: right;
        margin: 0;
    }
}