.navigation-main{
    .navigation-bar{
        background-color: #ffffff;
    }
    
    //NAV RIGHT HAND SIDE
    .navigation-menu {
        // align-items: center;
        .navigation__item {
            text-align: center;

            &--link:link,
            &--link:visited {
                color:#3C4049;
            }
            &--link {
                font-weight: 600;
                font-size: 15px;
                line-height: 18px;
                white-space: nowrap;
                padding: .5rem 2rem;
                letter-spacing: .5px;
            }
            .dropdown-menu{
                border-radius: .5rem;
                border: none;
                box-shadow: 0 .4rem .4rem rgba($color-black, .5);
                .dropdown-item__link:link,
                .dropdown-item__link:visited{
                    font-size: 1.5rem;
                    color:#3C4049;
                }
                .dropdown-item__link{
                    display: flex;
                    font-family: $font-family-main;
                    font-weight: 600;
                    padding: 1rem 1.5rem;

                    .dropdown-link-icon{
                        width: 2rem;
                        margin-right: 2.7rem;
                    }
                }
            }
            .nav-link-btn{
                padding: 1rem 3.7rem;
                background: #6E9E3D;
                border-radius: 50px;
                color: #ffffff;
            }
            .nav-link-signUp {
                font-weight: 600;
                font-size: 15px;
                color: #6E9E3D;
            }
        }
    }
}

//MEDIA QUERIES
@media screen and (min-width:768px){
    .navigation-main .navigation-menu {
        align-items: center;
        margin-right: 1.5rem;
        .navigation__item {
            .nav-link-signUp{
                margin-left: 1rem;
                margin-right: 3rem;
            }
        }
    }
}
@media screen and (min-width:768px) and (max-width:896px) {
    .navigation-main .navigation-menu {
     
        .navigation__item {
            &--link {
                font-size: 13px;
                padding: 5px;
            }
            .nav-link-signUp{
                margin-right: .8rem;
            }
        }
    }

}
@media screen and (max-width:768px) {
    .navigation-main .navigation-menu {
        align-items: center;
        margin-right: 1.5rem;
        .navigation__item {
            display: block;
            width: 100%;
            &--link {
                padding: 1.3rem .5rem;
            }
            .dropdown-menu.dropdown-menu-right{
                .dropdown-item__link{
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}
@media screen and (min-width:897px) and (max-width:1022px) {
    .navigation-main{ 
        .navigation-menu {
            .navigation__item {
                &--link {
                    padding: 0.5rem 1rem 0.5rem;
                }
                
            }
        }
    }
}