.navigation-main{
    .navigation-bar{
        background-color: #ffffff;

    }
    //NAV LEFT HAND SIDE
    

    
    //NAV LEFT HAND SIDE
    .navigation-menu {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        list-style: none;
        align-items: center;
        margin-left: auto;
    }
    .navigation__item {
        &--link {
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #3C4049;
        }

        .nav-link-btn{
            padding: 1rem 3.7rem;
            background: #6E9E3D;
            border-radius: 50px;
            color: #ffffff;
        }
        .nav-link-signUp {
            font-weight: 600;
            font-size: 15px;
            color: #6E9E3D;
        }
    }
}