.navi-bar{
    padding: .5rem 1rem;
    background-image:  linear-gradient(to top, 
    rgba($color-primary-dark, 1), 
    rgba($color-primary-light, 1));
    font-family: Questrial;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);

    &__picture{
        width: 21rem;
        height: 5rem;
    }

    .navbar__navi{
        .navi{
            &__item{
                padding: 0rem .25rem;
                text-align: center;
                font-size: 1.5rem;
                &--link:link,
                &--link:visited {
                    color:$color-white;
                    transition: all .4s;
                }
                &--link:hover{
                    color: $color-grey-soft;
                }
                .dropdown-menu{
                    background-image:  linear-gradient(to right bottom, 
                    rgba($color-primary-dark, .8), 
                    rgba($color-primary-light, .6));
                    padding: 0rem;


                    .dropdown-item__link:link,
                    .dropdown-item__link:visited{
                        font-size: 1.2rem;
                        color:$color-white;
                        padding: .5rem 1.5rem;
                    }
                    .dropdown-item__link:hover{
                        background-color: rgba($color-primary-light,.4);
                    }
                }
            }
        }
    }

}
