.footer {
    background-color: #293737;
    padding: 8rem 3rem 2rem 3rem;
    &__text{
        color: rgba($color-white, 0.5);
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-bottom: 3rem;
        &--newsletter-heading{
            color: rgba($color-white, 0.5);
        }
        &--newsletter-text{
            font-size: 1.3rem;
        }
    }
    &__item {
        margin-bottom: 2rem;
    }
    &__links:link,
    &__links:visited {
        color: $color-white;
        text-decoration: none;
    }
    &__links:hover{
        color: darken($color-white, 20%);
    }
    &__icon{
        font-size: 2.3rem;
        transition: scale .3s ease-in-out;
        &--fb{
            color: #2367dd;
        }
        &--twt{
            color: lighten($color-tertiary-light, 10%);
        }
        &--ig{
            color: lighten($color-red-chick, 20%);
        }
    }
    &__icon:hover{
        transform: scale(1.1);
    }
    
    &__input {
        min-height: 3.1rem;
        font-size: 1.3rem;
    }
    &__copyright--text{
        color: rgba($color-white, 0.5);
        font-size: 13px;
        line-height: 16px;
    }
}