.main-about {
    background-color: $color-white;
    color: $color-black;

    .section-about{
        padding-top: 10rem;
        padding-bottom: 10rem;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 0;

        .aboutWrap {
            margin-bottom: 10rem;

            .content__about {
                margin-bottom: 5rem;

                &--heading{
                    margin-bottom: 3rem;
                    font-size: 6rem;
                }
                &--text {
                    font-family: montserrat;
                    color: $color-black;
                }
    
            }

            .introWrap {
                .intro-text {
                    font-family: montserrat;
                    color: $color-black;
                }
            }
        }
        .our-valuesWrap {
            .values__heading {
                text-align: center;
                font-size: 6rem;
                letter-spacing: 2px;
                font-weight: 600;
                margin-bottom: 4rem;

            }
        }


        .visuals-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:1rem 2rem;
            margin-bottom: 5rem;
            border-radius: 3px;
            background-color: rgba(195,200,165,0.1);
            box-shadow: 0rem 1rem 2rem rgba($color-black, .2);
            .visuals-icon {
                font-size: 5rem;
                margin-top: 3rem;
            }
            .visuals-focus{color:$color-brown-dark;}
            .visuals-team{color: $color-grey-dark;}
            .visuals-commit{color:$color-tertiary-deep;}
            .visuals-time{color:$color-red-chick;}
            .visuals-creative{color:$color-secondary-light;}
            .visuals-honest{ 
                background-image: linear-gradient(to right bottom,
                $color-black, $color-secondary-dark);
                -webkit-background-clip: text;
                color: transparent;
            }
            .visuals-heading {
                font-size: 2.1rem;
                font-weight: 600;
                padding: 1rem 0;
                text-align: center;


            }
            .visuals-text {
                font-size: 120%;
                font-weight: 300;
                text-align: center;

            }
        }
    }

    .section-vision {
        margin-bottom: 10rem;
        &__heading {
            text-align: center;
            font-size: 5rem;
            letter-spacing: 2px;
            font-weight: 600;
            margin-bottom: 4rem;
        }
        .vision-content{
            margin-bottom: 3rem;
            &--text{
                letter-spacing: 3px;
                font-size: 2rem;
                color: $color-grey-dark;
            }
        }
        .mission-content{
            &--text{
                letter-spacing: 3px;
                font-size: 2rem;
                color: $color-grey-dark;
            }
        }
    }

    .section-remark {
        margin-bottom: 10rem;

        .fs-remark__content {
            .fs-remark__icon {
                display: block;
                text-align: center;
                font-size: 5rem;
                padding: 1rem 0;
                background-image: linear-gradient(to right,$color-black, $color-secondary-dark);
                -webkit-background-clip: text;
                color: transparent;
            }
            .fs-remark__text {
                font-family: dosis;
                font-size: 2.5rem;
                letter-spacing: 3px;
                text-transform: uppercase;
                text-align: center;
                padding: 2rem;
                margin-bottom: 2rem;
            }
            .fs-remark__image-box {
                display: flex;
                &--picture {
                    width: 12.5rem;
                    height: 12.5rem;
                    border-radius: 100rem;
                    margin-left: auto;
                    margin-right: 1rem;
                }
                .fs-remark__text-box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: auto;
                    &--text {margin: 0;}
                    &--text-staff {
                        font-weight: 600;
                        font-size: 120%;
                    }
                }
            }
        }
    }

    .section-partners {
        margin-bottom: 10rem;
        .partners__content {
            &--heading {
                text-align: center;
                font-weight: 600;
                font-size: 6rem;
            }
            &--text {
                text-align: center;
                font-weight: 300;
                letter-spacing: 1px;
                color: $color-grey-dark;
                padding: 1rem 0;
            }
            &--image-box {
                display: flex;
                align-items: center;
                height: 100%;
                border: 1px solid $color-grey-dark;
                padding: 1rem;
                border-radius: 2px;

                .partners__content--image {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .section-testimonials {
        padding-bottom: 5rem;

        .testimonials__content {
            margin-bottom: 5rem;
            &--heading-main {
                text-align: center;
                font-size: 4rem;
                font-weight: 600;
                text-transform: uppercase;
                padding: 2rem 0;
            }
            &--text-main {
                text-align: center;
                font-size: 3rem;
                color: $color-grey-dark;

            }
            &--heading {
                text-align: center;
                font-size: 2.5rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }
            &--text {
                &-client{
                    font-size: 120%;
                    font-weight: 300;
                    margin-bottom: 0;
                   color: $color-black;
                }
            }
            &--image-box {
                display: flex;
                margin-top: 3rem;
            }
            &--image {
                width: 6rem;
                height: 6rem;
                border-radius: 3rem;
                margin-left: auto;
                margin-right: 1rem;
            }
            &--text-box{
                margin-right: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
        }
    }
}