    .dashboard{
        &__panel {
            background-color: dodgerblue;
            padding: 0 2rem;
            display: flex;
            a[class^=dashboard__]{
                padding: 1rem 0;
                text-decoration: none;
                outline: none;
            }

        }
        &__brand {
            color: white;

        }
        &__profile {
            margin-left: auto;
            color: white;
        }
    }
   