.dashboard__navi-wrap {
    position: relative;

    .dashboard__navi--toggle {
        display: none;
    }
    
    .dashboard__navi{
        list-style-type: none;
        &--item{
            padding: 0 2rem 0 2rem;
            
        }
        &--item:hover{
            background-color: $color-grey-soft;
        }
        &--link{
            .dashboard__icon {
                margin-right: .7rem;
                font-size: 1.9rem;
                color: $color-black;
            }    
        }
        &--link:link,
        &--link:visited {
            text-decoration: none;
            display: block;
            padding: 1rem 0;
            outline: none;
            color:  #2d3841;
        }
        &--link:hover{
            color:#134e87;
        }

    }
}

@media screen and (max-width:850px) {
    .dashboard__navi--link {
        margin-left: 1.5rem;
    }
}
@media screen and (min-width:576px) {
    .dashboard__navi-wrap {
        min-height: 100vh;
        height: 100%;
        border-right: 1px solid rgba($color-black, .3);
        padding-top: 8rem;
        .dashboard__navi .dashboard__navi--item:nth-of-type(2) {
            display: none;
        }
    }
    .section-dashboard {
        padding-left: 0;
    }
    .dashboard__navi--link {
        margin-left: 1.5rem;
    }
   
}
@media screen and (max-width:575px) {
    .dashboard__navi{
        visibility: hidden;
        opacity: 0;
        height: 0;
        transition: height .2s ease-in;
    }
    
    .dashboard__navi--item{
        display: flex;
        justify-content: center;
        .dashboard__navi--link {
            min-width: 11rem;
        }
    }
    
    // side navigation hamburger menu styling
    .dashboard__navi--menu {
        display: inline-block;
        width: 3.5rem;
        height: 3.4rem;
        border: 1px solid rgba($color-white, .6);
        border-radius: 2px;
        position: absolute;
        right: 0;
        top: -4rem;
        z-index: 9999;
        font-size: 2.3rem;

        .menu-icon-container {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
        }
        &-icon {
            display: inline-block;
            width: 2.5rem;
            height: .3rem;
            margin: auto;
            background-color:  rgba($color-white, .9);
            transition: transform .3s ease-in-out;
            
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 2.5rem;
                height: .3rem;
                background-color:  rgba($color-white, .9);
            }
            &::before{
                top: .7rem;
            }
            &::after {
                bottom: .7rem;
            }
        }
        .menu-icon-container:hover &-icon:hover::before{
            transform: translateY(-1px);
        }
        .menu-icon-container:hover &-icon:hover::after{
            transform: translateY(1px);
        }
    }
    .dashboard__navi--toggle:checked ~ .dashboard__navi {
        height:  38.5rem;
        visibility: visible;
        opacity: 1;
        // transition: visibility .25s .2s ease;
    }
}