    .dashboard{
        &__panel {
            background-color: #191d21;
            padding: 0 2rem;
            display: flex;
            a[class^=dashboard__]{
                padding: 1rem 0;
                text-decoration: none;
                outline: none;
            }

        }
        &__brand, &__profile {
            color: white;
            font-family: Montserrat;
        }
        &__brand:hover, 
        &__profile:hover {
            color: darken($color-white, 10%);
        }
        &__brand {
            font-weight: bold;
            font-size: 14px;
        }
        &__profile {
            margin-left: auto;
        }
    }
   
    @media screen and (max-width: 575px) {
       nav.dashboard__panel { 
           .dashboard__profile {
                display: none;
                font-family: inherit;
        }
      }
    }