.transaction{
    &-page-wrap{
        @include contentScroll-y;
    }
    &__content {
        width: 100%;
        height: 100%;
        text-align: center;
      
        &-wrap{
            // width: 60%;
            padding: 5rem 1rem 3rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 100%;
            .transaction__image-box {
                max-width: 25rem;
            }
        }
        .transaction__image{
            border-radius: 50%;
            width: 100%;
        }
        .transaction__heading{
            font-size: 3rem;
            font-weight: 600;
            color: $color-brown-dark;
        }
    }
    &-cards-section-wrap {
        margin-bottom: 5rem;
    }
}

@media screen and (min-width:575px) and (max-width: 750px) {
    html{
        font-size: 60%;
    }
    .transaction-page-wrap{
        .transaction__content{
          
            .transaction__heading{
                font-size: 2.2rem;
                
            }
        }
    }
}

@media screen and (max-width:574px){
    html{
        font-size: 58%;
    }
    .transaction-page-wrap{
        .transaction__content{
            .transaction__heading{
                font-size: 2.5rem;
            }
        }
    }

}
@media screen and (max-width:445px){
    html{
        font-size: 55%;
    }
    .transaction-page-wrap{
        .transaction__content{
            .transaction__heading{
                font-size: 2rem;
            }
        }
    }

}
@media screen and (max-width:390px){
    html{
        font-size: 50%;
    }
    .transaction-page-wrap{
        .transaction__content{
            &-wrap{padding: 0; }
            .transaction__heading{
                font-size: 1.8rem;
            }
        }
    }

}