.transaction__card{
    background-image: linear-gradient(to right bottom, #2ca524, #1a5314);
    color: $color-white;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    margin-top: 3rem;
    .card__heading {
        margin: 0;
        font-weight: 300;
    }
    
    .transaction-history:link,
    .transaction-history:visited {
        display: block;
        color: $color-white;
        text-decoration: none;
    }
    .transaction-history:hover {
        color: darken( $color-white, 20%);
    }
    .card__text{
        font-size: 4rem;
        margin: 0;
    }
}
