.vestbank-wrap {
    margin: 6rem 0;
    .vestbank__balance-wrap {
        margin-bottom: 6rem;
        display: flex;
        justify-content: center;
    
        .vestbank__balance {
            width: 80%;
            text-align: center;
            position: relative;
            background-image: linear-gradient(to bottom right, 
            rgba(89, 8, 57, 0.9), rgb(137, 43, 100));
            box-shadow: .1rem .5rem 2rem rgba($color-black, .6);
            border-radius: 2px;

            &--label{
                margin: 3rem 0 0 0;
                color: $color-grey-dark;
            }
            &--text{
                font-size: 200%;
                color: $color-white;
                margin: 0 0 3rem 0;
            }
            .vestbank__logo{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: -999;
                top: 13rem;
                width: 100%;
                opacity: .12;
                &--wrap{
                    display: inline-block;
                    width: 35rem;
                    height: 30rem;
                }
            }
        }
    }

    .vestbank-bank-card-section{
        text-align: center;
        height: 100%;
        .vestbank__btn-wrap{
            display: inline-block;
            border-radius: 2px;
            height: 100%;
            .vestbank__card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 100%;

                &--image-box{
                    margin: 2rem 0 2rem 0;
                    width: 10rem;
                }
                &--image{
                    transition: transform .2s ease-in;
                }
                &--image:hover {
                    transform: scale(1.14);
                }
                &--text{
                    border: 1.2px solid rgba(128, 128, 128, .3);
                    padding: 1rem 2rem;
                    border-radius: 5rem;
                    margin-bottom: 2rem;
                    color: #6f2251;
                    transition: all .2s ease-in;
                }
                &--text:hover{
                    background-color: #6f2251;
                    color: $color-white;
                }
            }
            .vestbank__deposit{}
            .vestbank__withdraw{}
            .vestbank__standing-order{
                .vestbank__card--image:hover{
                    transform: none;
                    -webkit-transform: revert;
                    transition: none;

                }
                .vestbank__card--text{
                    border: none;
                    padding: 0;
                    border-radius: 2px;
                    margin-bottom: .5rem;
                    &:hover {
                        color: #6f2251;
                        background-color: transparent;
                    }
                }
                .vestbank__card--order{
                    color: #9a9ea7;
                    line-height: 1.3;
                }
            }
        }
    }

    .vestbank-withdraw-popup{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10000;
        background-color: rgba(18, 6, 6, 0.7);
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease-in;

        .vestbank-withdraw{
            &__background{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

            }
            &__body {
                border: 2px solid white;
                padding: 1rem 0.5rem;
                background-color: white;
                margin: 0 3rem;
                
            }
            &__back-btn{
                text-decoration: none;
                font-weight: 600;
                color:#ea5050;
                transition: all .2s ease-in;
                padding: .1rem 1rem;
                border-radius: 3px;

                &:hover{
                    color: $color-white;
                    background-color: #ea5050;
                }
            }
            &__content{
                .vestbank-withdraw{
                    &__form--text{}
                    &__form--input{
                        outline: none;
                    }
                    &__amount--label{
                        // display: none;
                        text-align: right;
                        color: $color-grey-dark;
                    }
                    &__btn{
                        font-size: 1.25rem;
                    }

                }
                #vestbank-withdraw__amount{
                    height: 3rem;
                    font-size: 1.3rem;
                }
            }
        }
    }
    // withdrawal popup functionality
    .vestbank-withdraw-popup:target {
        visibility: visible;
        opacity: 1;
    }
    
}