.vestbank-wrap {
    .vestbank__balance-wrap {
        margin: 6rem 0;
        display: flex;
        justify-content: center;
    
        .vestbank__balance {
            width: 80%;
            text-align: center;
            position: relative;
            background-image: linear-gradient( to bottom, 
            rgba($color-red-chick, 1), rgba($color-brown-dark, 1));
            box-shadow: .1rem .5rem 2rem rgba($color-black, .6);
            border-radius: 2px;

            &--label{
                margin: 3rem 0 0 0;
                color: $color-grey-dark;
            }
            &--text{
                font-size: 200%;
                color: $color-white;
                margin: 0 0 3rem 0;
            }
            .vestbank__logo{
                position: absolute;
                z-index:999;
                width: 12rem;
                top: 60%;
                left: 6rem;

                &--image{
                }
            }
        }
    }

    .vestbank-bank-card-section{
        text-align: center;
        .vestbank__btn{
            .vestbank__card{
                &--image-box{}
                &--image{}
                &--text{}
            }
            .vestbank__deposit{}
            .vestbank__withdraw{}
            .vestbank__standing-order{}
        }
    }
}