.vestbank-wrap {
    margin: 6rem 0;
    .vestbank__balance-wrap {
        margin-bottom: 6rem;
        display: flex;
        justify-content: center;
    
        .vestbank__balance {
            width: 80%;
            text-align: center;
            position: relative;
            background-image: linear-gradient(to bottom right, 
            rgba(89, 8, 57, 0.9), rgb(137, 43, 100));
            box-shadow: .1rem .5rem 2rem rgba($color-black, .6);
            border-radius: 2px;

            &--label{
                margin: 3rem 0 0 0;
                color: $color-grey-dark;
            }
            &--text{
                font-size: 200%;
                color: $color-white;
                margin: 0 0 3rem 0;
            }
            .vestbank__logo{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                z-index: -999;
                width: 100%;
                opacity: .12;
                &--wrap{
                    display: inline-block;
                    width: 35rem;
                    height: 30rem;
                }
            }
        }
    }

    .vestbank-bank-card-section{
        text-align: center;
        .vestbank__btn{
            display: inline-block;
            border-radius: 2px;
            .vestbank__card{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 4rem;

                &--image-box{
                    margin: 2rem 0 2rem 0;
                    width: 10rem;
                }
                &--image{}
                &--text{
                    border: 1.2px solid rgba(128, 128, 128, .3);
                    padding: 1rem 2rem;
                    border-radius: 5rem;
                    margin-bottom: 2rem;}
            }
            .vestbank__deposit{}
            .vestbank__withdraw{}
            .vestbank__standing-order{}
        }
    }
}